@font-face {
    font-family: 'Doknatle';

    src: url(../fuentes/doknatle.otf);
}

@font-face {
    font-family: 'Autography';
    src: url(../fuentes/autography.otf);
}

#inicio {
    background-color: #fff8f8;
}

body {
    font-family: Arial, Helvetica, sans-serif
}


h2,
h3 {
    font-family: 'Doknatle';
}

h3 {
    font-size: 1.2rem;
}

#introduccion h2,
#productos h2,
#contacto h2 {
    color: #613f3f;
}

.negrita {
    font-weight: 650;
}

.logo {
    width: 150px;
    height: 57px;
    background: url('../img/logo/logoElementa.png') no-repeat center center;
    background-size: contain;
    display: block;
    padding-top: 4rem;
}

#menuNavegacion {
    background-color: #fff8f8;
    padding: 1rem;
}

.navbar {
    padding: 0;
}

.navbar h1 a {
    width: 150px;
    height: 57px;
    display: block;
    padding: 0;
    margin: 0;
}

.navbar-toggler {
    border: none;
    box-shadow: none !important;
    padding: .25rem .5rem;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-nav {
    gap: .4rem;
}

.navbar-nav .nav-link {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: .7rem 1rem;
    color: #996666;
    font-weight: bold;
    transition: color .25s ease, background-color .25s ease;
    position: relative;
    text-align: center;
}

.navbar-nav .nav-link:hover {
    color: #3c7d79;
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon{
    background-image: url('../img/iconos/cruzNegra.png');
}  

.icono-nosotras a {
    width: 45px;
    height: 45px;
    display: inline-block;
    background-image: url('../img/iconos/iconoDesarrolladora996666.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icono-nosotras a:hover {
    background-image: url('../img/iconos/iconoDesarrolladoraVerde.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}



#introduccion {
    background-color: #fff8f8;
}

#subtituloIntro {
    font-family: 'Autography';
    font-size: 1.9rem;
    color: #1a5458;
}



#elementos {
    background-color: #244d4a;
    color: #fff8f8;
}


#elementos h3 {
    font-family: 'Autography';
    font-size: 2.1rem;
}

#elementos ul {
    list-style: none;
}

#elementos li {
    border-bottom: solid 2px rgba(49, 182, 192, 0.15);
}


#productos h3 {
    font-family: 'Autography';
    font-size: 3.2rem;
}

#productos h3 span {
    display: block;
    font-family: 'Doknatle';
    font-size: 1.2rem;
}

.backElemento {
    background-image: url('../img/iconos/elementoAgregado.png');
    width: 180px;
    height: 69px;
    display: inline-block;
    color: transparent;
}

#textoAbajo {
    display: block;
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon{
    background-image: url('../img/iconos/cruzNegra.png');
}  

#modalCarrito p {
    font-size: 1.3rem;
}

#modalCarrito .modal-content {
    background-color: #fff8f8;
    border-radius: 1rem;
    border: none;
}

#modalCarrito .modal-footer {
    padding-bottom: 1.5rem;
}

#modalCarrito .btn-secondary {
    background-color: #1a5458;
    border: none;
    padding: .5rem 1.5rem;
}



.btn-primary {
    background-color: #996666;
    color: #fff;
    border: none;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    background-color: #613f3f;
}

.btn:active,
.btn:focus,
.btn:focus:active {
    background-color: #996666;
    color: white;
}


.accordion-button {
    color: #996666;
}

#test-subtitulo {
    font-size: 2.2rem;
    font-family: 'Autography';
}

.accordion-button:not(.collapsed) {
    background-color: #d3b6b6;
    color: black;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
}

.accordion-body p:last-of-type {
    width: 80%;
}

#acordeon-tierra .accordion-body {
    background-image: url('../img/elementos/tierraMobile.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: min(100px, 20%);
}

#acordeon-agua .accordion-body {
    background-image: url('../img/elementos/aguaMobile.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: min(100px, 20%);
}

#acordeon-fuego .accordion-body {
    background-image: url('../img/elementos/fuegoMobile.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: min(100px, 20%);
}

#acordeon-aire .accordion-body {
    background-image: url('../img/elementos/aireMobile.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: min(100px, 20%);
}

#acordeon-eter .accordion-body {
    background-image: url('../img/elementos/eterMobile.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: min(100px, 20%);
}

#acordeonElementa article {
    background-color: #1a5458;
}

#test {
    background-color: #1a5458;
}

#test h2,
#test p {
    color: white;
}

#test p {
    max-width: 62rem;
}

#contacto a {
    color: #996666;
    font-weight: 750;
}


#contacto iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}


form {
    background-color: #fff8f8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.form-control {
    border: solid 1.5px #996666;
}

.form-control:focus {
    box-shadow: none !important;
    outline: none !important;
    border: 2px solid #1a5458;
}


#modalNosotras .modal-dialog {
    max-width: 31rem;
    width: 90%;
    margin: 0 auto;
}

#modalNosotras .modal-content {
    background-color: #fff8f8 !important;
    border: none;
    box-shadow: none;
}

#cami {
    border-bottom: solid 1px #1e1818;
}

.contenedor-nosotras {
    width: 100%;
    color: #1e1818;
    border-radius: 1rem;
    margin: 1rem auto;
    text-align: center;
}

.contenedor-nosotras>p:first-of-type {
    margin: 1rem;
}

.diseñadoras {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 0;
}

.diseñadoras article {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.diseñadoras figure {
    max-width: 250px;
    align-self: center;
}

.diseñadoras img {
    width: 100%;
    border-radius: 50%;
}


.diseñadoras h3 {
    font-family: 'Doknatle';
    color: #33241d;
    text-align: center;
    margin-bottom: 0.5rem;
}


.diseñadoras a {
    font-size: .9rem;
    color: #aa4432;
    text-decoration: none;
    transition: color 0.3s ease;
}

.diseñadoras a:hover {
    color: #c05a49;
    text-decoration: underline;
}


.redes a.instagram {
    background-image: url('../img/iconos/instagramModal.png');
}

.redes a.behance {
    background-image: url('../img/iconos/behanceModal.png');
}

.redes a.linkedin {
    background-image: url('../img/iconos/linkedinModal.png');
}

.redes {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 1rem 0;
}

.redes a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.saludo {
    display: block;
    font-family: 'Autography';
    font-size: 2rem;
    color: #5c4033;
    margin-bottom: 0.3rem;
}


#modalNosotras .modal-header {
    position: relative;
    padding-top: 2rem;
    padding-bottom: 0;
    justify-content: center;
}

#modalNosotras .btn-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 1.2rem;
}

footer {
    background-color: #1e140a;
    color: #ffffff;
    text-align: center;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.footer-logo {
    display: block;
    width: 150px;
    height: 57px;
    background-image: url('../img/logo/logoElementa.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 1.2rem;
}


.footer-nav-link {
    color: #fff9f9;
    text-decoration: none;
    transition: color .3s ease;
}

.footer-nav-link:hover {
    color: #ffbcbc;
}

footer p {
    font-size: 0.85rem;
}

.icono-nosotras-nav a {
    width: 35px;
    height: 35px;
    display: inline-block;
    background-image: url('../img/iconos/iconoDesarrolladoraNav.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.footer-redes {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.2rem;
    padding: 0;
    list-style: none;
}

.footer-redes a {
    display: block;
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.footer-redes > li:nth-of-type(1) a {
    background-image: url('../img/iconos/facebookFooter.png');
}

.footer-redes > li:nth-of-type(2) a {
    background-image: url('../img/iconos/instagramFooter.png');
}

.footer-redes > li:nth-of-type(3) a {
    background-image: url('../img/iconos/tikTokFooter.png');
}


@media (min-width: 768px) {
    .diseñadoras {
        flex-direction: row;
    }

    .diseñadoras article {
        flex: 1;
    }

    #cami {
        border-bottom: none;
    }

    #modalNosotras .modal-dialog {
        max-width: 60rem;
        width: 90%;
        margin: 0 auto;
    }

    #acordeonElementa {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.2rem 2rem;
    }

}


@media (min-width: 992px) {

    #elementos p {
        line-height: 1.7;
    }

    #contacto iframe {
        width: 50%;
    }

    #acordeonElementa {
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 1200px) {
    #test .container div>div:first-of-type>p {
        font-size: 1.2rem;
    }
}


@media (767px < width < 992px){
    .accordion-item:last-of-type {
        grid-column: 1/-1;
    }


}